body {
  // background: #f5f5f5;
}
.article__image {
  height: 200px;
}

.article__card {
  background-color: antiquewhite;
}

.article__body {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
  width: 250px;
}

.loading__image {
  height: 200px;
  width: 200px;
  margin: auto;
}
