body {
  background: #f5f5f5;
}

.View {
	background: url("https://mdbootstrap.com/img/Photos/Others/img (51).jpg")no-repeat center center;
	background-size: cover;
}
@media (min-width: 768px) {
	.View {
			overflow: visible;
			margin-top: -10px;
	}
}
.navbar {
	z-index: 1;
}
.image_input {
  display: none;
}
.View {
height: 100%;
}
/* Pagination */
.blog-pagination {
	margin-bottom: 4rem;
}
.blog-pagination > .btn {
	border-radius: 2rem;
}
.articles{
	margin-top: 100px;
}
.social-view{
	margin-top: 35vh;
}
.card-comments img {
	width: 4rem; }
.article-icons {
	display: inline-block;
}
.Card {
    margin: 0 auto; /* Added */
          float: none; /* Added */
          margin-bottom: 10px; /* Added */
  }
  input.form-control.no-border,textarea.form-control.no-border {
        border: 0 !important;
        box-shadow: none !important;
}
.in-font {
    font-size: 40px;

}

.image-input{
  display: none;
}
.article__image{
  height: 200px;
}

.article__card {
  background-color: antiquewhite;
}

.article__body {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
  width: 250px;
}

.loading__image {
  height: 200px;
  width: 200px;
  margin: auto;
}
