.View {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (51).jpg")
    no-repeat center center;
  background-size: cover;
}
@media (min-width: 768px) {
  .View {
    overflow: visible;
    margin-top: -10px;
  }
}
.navbar {
  z-index: 1;
}

.View {
  height: 100%;
}
/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}
.articles {
  margin-top: 100px;
}
.social-view {
  margin-top: 35vh;
}
.card-comments img {
  width: 4rem;
}
.article-icons {
  display: inline-block;
}
.Card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
input.form-control.no-border,
textarea.form-control.no-border {
  border: 0 !important;
  box-shadow: none !important;
}
.in-font {
  font-size: 30px;
}
.in-fontt {
  font-size: 20px;
}
.fb {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.unstyled-button {
  border: none;
  padding: 1;
  background: none;
}

#div12 {
  padding: 20px;
}

/*Profile css*/
.profile-container {
  padding-top: 5%;
}
.section-profile-edit {
  padding-top: 5%;
}
.profile-container-edit {
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
}
.profile-image {
  width: 90%;
  padding: 2%;
  max-height: 320px;
  min-height: 320px;
}
.edit-profile-text-area {
  width: 100%;
}
.profile-card {
  text-align: center;
}
.card-image {
  width: 20%;
}

.image-input {
  display: none;
}
.profile-card-image img {
  margin-left: auto;
  margin-right: auto;
}
.header-profile-image {
  width: 40px;
  height: 40px;
  padding-right: 0;
  border-radius: 50%;
}
@media (max-width: 1210px) {
  .profile-image {
    max-height: 260px;
    min-height: 260px;
  }
}
@media (max-width: 992px) {
  .profile-image {
    max-height: 180px;
    min-height: 180px;
  }
  .section-profile {
    padding-top: 5%;
  }
}
@media (max-width: 768px) {
  .profile-image {
    min-height: 450px;
  }
  .profile-container-edit {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (max-width: 608px) {
  .profile-image {
    min-height: 450px;
  }
  .profile-container-edit {
    padding-left: 2%;
    padding-right: 2%;
  }
  .section-edit-profile {
    width: 100%;
    position: fixed;
    bottom: 0px;
  }
}

@media (max-width: 546px) {
  .profile-container-edit {
    max-height: 100px;
  }
}
/*End of Profile css*/

/*Footer */
.page-footer {
  width: 100%;
  /* size: 10px; */
  position: relative;
  bottom: 0px;
}

/*End of Footer */
